.container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  border: 1px grey solid;
  background-color: whitesmoke;
  margin: 5px;
  padding: 10px;
  font-size: small;
  box-shadow: 0 0 5px #444;
}

.info-container {
  display: flex;
  flex-direction: row;
}
.info {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.poster {
  padding: 2px;
  width: 100px;
  height: auto;
}

.title {
  color: red;
  font-weight: bold;
  font-size: large;
  margin: 10px 0px;
}
